#titulo {
    text-align: center;
}
body{
    background-color:#6A5ACD;
}
/* usa esse para colocar comentario no css*/
h1{
    color:#DCDCDC;
    text-align:right;
    font-size:30px;
}
.texto{
   color:#A9A9A9;
    text-align: left;
}
em strong {
    color: #FF0000;
}