#titulo {
    text-align: center;
}
body{
    background-color:#A9A9A9;
}
/* usa esse para colocar comentario no css*/
h1{
    color:#000000;
    text-align:right;
    font-size:30px;
}
.texto{
   color:#000000;
    text-align: left;
}
em strong {
    color:#00BFFF ;
}